<form action="/create" method="post">
  <input type="text" name="title" placeholder="Title of Post">
  <select  name="user_id">
    {{# each username}}
    <option value="{{this.id}}">{{this.username}} </option>
    {{/each}}
  </select>
  <textarea name="content" placeholder="post content"></textarea>
  <input type="url" name="image" placeholder="Image Url">
  <button type="submit">Add a Post</button>

</form>
